* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    position: fixed;
    margin: 0;
}

:root {
    --light-gray: #f3f3f3;
    --dark-gray: #909090;
    --darker-gray: #404040;
}

.entry-screen {
    display: flex;
    padding-right: 20px;
    /* height: 100vh; */
    /* background-color: #f0f0f0; */
}

.entry-screen > * {
    margin: 20px 0px 0px 20px;
}

.invisible {
    display: none;
}

.entry-form {
    padding-bottom: 12px;
    /* border: 1px solid var(--light-gray); */
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px rgb(0, 0, 0, .18);
}

.entry-form > * {
    margin: 12px 12px 0px 12px;
}

.title {
    color: var(--darker-gray);
    font-weight: bold;
    letter-spacing: .1em;
    text-align: center;
}

.submit-button {
    /* font-size: 1.5em; */
    /* letter-spacing: .1em; */
    color: #ffffff;
    text-align: center;
    padding: 10px;
    background-color: #2a94ff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .1s;
}

.submit-button:hover {
    background-color:#2176cb;
}

input {
    outline: none;
    width: calc(100% - 24px);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    user-select: none;
    background-color: #f3f3f3;
    color: var(--darker-gray);
}

.input:focus {
    border: 1px solid var(--dark-gray);
}

.validation-1, .validation-2, .validation-3 {
    color: var(--darker-gray);
    font-size: .75em;
}

.response-error {
    color: #840000;
}